# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\world\Desktop\컴퓨터그래픽\A4\src codebase based on best match to current usage at 2020-11-19
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

